@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.breadcrumbs li {
  margin: 0 0.5rem 1.5rem 0;
}

.top-section {
  padding: 9rem;
  color: white;
  text-align: left;
  background-image: url(/assets/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

section {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

aside {
  padding: 2rem;
}

@media screen and (max-width: 700px) {
  .top-section {
    padding: 3rem;
  }
  .top-section h1 {
    overflow-wrap: break-word;
  }
}

.search-bar {
  width: 100%;
  height: 30px;
}

.login-btn {
  padding: 0.5em;
}

.toggleInput {
  display: none;
}

.language-login {
  display: none;
}

img {
  width: 100%;
}

.nav-container {
  background-color: var(--nav-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  display: none;
}

.language a {
  color: white;
}

.language a:hover {
  color: var(--links-hover);
}

.main-links {
  display: none;
}

.open-icon {
  font-size: 30px;
  color: white;
}

.open-icon:hover {
  color: var(--links-hover);
  cursor: pointer;
}

.close-icon {
  display: none;
  font-size: 30px;
  color: white;
}

.close-icon:hover {
  color: var(--links-hover);
  cursor: pointer;
}

.category li {
  list-style-type: square;
  color: white;
}

.category li:first-child {
  font-weight: 600;
  list-style-type: none;
}

.category a {
  color: white;
  text-decoration: none;
}

.category a:hover {
  color: var(--links-hover);
  text-decoration: underline;
}

.dropDownMenu {
  z-index: 2;
  position: absolute;
  width: 100%;
  left: -4000px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: block;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

.dropDownMenu ul {
  text-decoration: none;
  list-style-type: none;
  margin-bottom: 4rem;
}

.dropDownMenu li {
  margin-bottom: 1.2rem;
}

.toggleInput:checked ~ .dropDownMenu {
  left: 0px;
  background-color: var(--nav-color);
}

.toggleInput:checked ~ .open-icon {
  display: none;
}

.toggleInput:checked ~ .close-icon {
  display: block;
}

@media screen and (min-width: 1000px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
  }
  .search-bar {
    width: 70%;
  }
  .logo {
    width: 350px;
  }
  .toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-container {
    position: relative;
    width: 100%;
  }
  .main-links {
    margin-top: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-decoration: none;
    list-style-type: none;
  }
  .main-links li {
    margin-left: 2em;
  }
  .main-links a {
    text-decoration: none;
    color: white;
  }
  .main-links a:hover {
    color: var(--links-hover);
  }
  .login-btn {
    margin: 0.5em 0 0 4em;
  }
  .language {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .language a {
    display: block;
    margin-top: 0.5rem;
  }
  .language img {
    width: 25px;
    margin-left: 1.5em;
  }
  .dropDownMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 0px;
    top: -4000px;
  }
  .toggleInput:checked ~ .dropDownMenu {
    left: 0px;
    top: 135px;
  }
}

img {
  width: 100%;
  height: auto;
}

.contact-main .important-notice {
  margin-top: 2rem;
  padding: 2rem 3rem;
  background: #863a3a;
  border: 4px solid #f85b5b;
}

.contact-main .important-notice a {
  color: #f5e19e;
}

.contact-main .important-notice a:hover {
  color: #fff;
}

.contact-main .direction-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-main .direction-section h2 {
  width: 100%;
}

.contact-main .direction-section section {
  width: 100%;
}

@media (min-width: 736px) {
  .contact-main .direction-section section {
    width: 50%;
  }
}

.contact-main .direction-section__map {
  margin: 2vw auto;
  width: 100%;
  height: 250px;
}

.contact-us {
  background: var(--links-color);
}

.contact-us h2 {
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*:root {
  font-size: 10px;
}*/
body {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

:root {
  font-size: 10px;
}

html {
  font-family: "Raleway", sans-serif;
}

/* Font styles for index.html are declared in _home.scss */
h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 5rem;
}

h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

p,
a,
li {
  font-size: 1.6rem;
}

h1,
h2,
h3 {
  margin: 0 0 3rem;
}

p {
  line-height: 2.3rem;
  margin: 0 0 2rem;
}

li {
  line-height: 2.2rem;
  -webkit-margin-start: 3rem;
          margin-inline-start: 3rem;
}

/* Navbar and footer links */
/* Top-section */
.top-section p {
  font-weight: 600;
}

/* Footer */
footer p {
  color: var(--links-color);
  margin-bottom: 1rem;
}

footer a {
  text-decoration: none;
}

/* Contact */
.contact-main dl {
  font-size: medium;
}

.contact-main dl dt {
  font-weight: bold;
  margin: 0 0 1rem;
}

.contact-main dl dd {
  margin: 0 0 2rem;
}

.contact-main h4 {
  margin: 2rem 0 1rem;
}

.contact-form label {
  font-size: 2rem;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  font-family: "Raleway", sans-serif;
  font-size: medium;
  font-weight: normal;
}

.contact-form button {
  font-family: "Raleway", sans-serif;
  font-size: large;
  font-weight: bold;
  color: #fff;
}

.contact-form textarea::-webkit-input-placeholder {
  color: #4b4a4a;
  font-weight: bold;
}

.contact-form textarea:-ms-input-placeholder {
  color: #4b4a4a;
  font-weight: bold;
}

.contact-form textarea::-ms-input-placeholder {
  color: #4b4a4a;
  font-weight: bold;
}

.contact-form textarea::placeholder {
  color: #4b4a4a;
  font-weight: bold;
}

.contact-form {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 4rem;
  background: var(--form-background);
  padding: 4rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
}

.contact-form label {
  width: 100%;
}

.contact-form input {
  background: var(--input-background);
  margin: 1rem 0 3rem 0;
  padding: 2rem 0 0.2rem 2rem;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid grey;
}

.contact-form textarea {
  background: var(--input-background);
  margin: 1rem 0 3rem 0;
  padding: 2rem 0 0.2rem 2rem;
  border: none;
  border-radius: 5px;
  border-bottom: 2px solid grey;
  resize: none;
}

.contact-form button {
  margin: 2rem auto;
  padding: 2rem 8rem;
  background: var(--nav-color);
  border: none;
  border-radius: 0.5rem;
}

.contact-form button:hover,
.contact-form button:focus {
  background: #4f7c86;
}

article {
  max-width: 500px;
  margin: 0 auto 2.5rem;
}

article a {
  color: black;
}

article h2 {
  background: grey;
  margin: 0 0 1rem 0;
}

.index-main {
  padding: 2rem 4rem;
  background-image: url(/assets/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.index-main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 5rem;
  margin: 2rem 0;
}

.index-main section a {
  background: #ffffff;
  position: relative;
  border-radius: 0.2rem;
  padding: 1rem;
  height: 30rem;
  color: #000000;
  max-width: 400px;
  margin: 0 auto;
}

.index-main section a .index-main__img-wrapper {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.index-main section a .index-main__img-wrapper img {
  max-width: 100%;
}

.index-main section a h2 {
  font-size: 2.2rem;
  margin: 1rem 0;
}

.index-main section a p {
  font-size: 1.8rem;
}

.index-main section a::after {
  content: "";
  position: absolute;
  border-radius: 0.2rem;
  top: 0;
  left: 0;
  background: #ffffff;
  width: 100%;
  height: 50%;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.index-main section a:hover::after {
  opacity: 0.5;
}

.index-main section a:hover h2, .index-main section a:hover p {
  color: #585858;
}

.index-main ul li {
  list-style: none;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  .index-main section {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .index-main {
    padding: 6rem 4rem;
  }
  .index-main section {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

footer {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer div {
  margin: 1rem 0;
}

@media (min-width: 768px) {
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

:root {
  --nav-color: #182e33;
  --links-color: white;
  --links-hover: #4ecdc4;
  --form-background: #fff;
  --input-background: rgb(233, 239, 240);
}

/* Nav-bar */
/* Main content */
a {
  color: var(--nav-color);
}

a:hover {
  color: var(--links-hover);
}

/* Footer */
footer {
  background: var(--nav-color);
}

footer p,
footer a {
  color: var(--links-color);
}
/*# sourceMappingURL=style.css.map */