@import "pages/home";
@import "base/reset";
@import "layout/header";
@import "layout/footer";

.content-wrapper {
  max-width: 1200px;
  margin: auto;
}

body {
  background-image: url(/assets/1061.png);
  background-repeat: repeat;
  color: 000000;
}
