@import "pages/home";
@import "base/reset";
@import "layout/header";
@import "layout/footer";

.content-wrapper {
  width: 100%;
}

body {
  background-image: url(/assets/1061.png);
  background-repeat: repeat;
  color: 000000;
  max-width: 1200px;
}

@media (min-width: 1200px) {
  .content-wrapper {
    max-width: 1200px;
    margin: auto;
  }
}