body 
article {
  max-width: 800px;
  margin: 0 auto 3rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  }

  a { 
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: var(--links-hover);
  }
  h2 {
    background: rgb(24, 46, 51);
    margin: 0 0 0.5rem 0;
  }

