.contact-form {
  width: 100%;
  max-width: 60rem;
  margin: 4rem auto;
  background: #4ecdc4;
  padding: 5rem;
  display: flex;
  flex-direction: column;

  label {
    font-weight: bold;
    width: 100%;
    font-size: 2rem;
  }
  input {
    background: #4ecdc4;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    margin: 1rem 0 3rem 0;
    padding: 2rem 0 0.2rem 2rem;
    border: none;
    border-bottom: 2px solid grey;
  }

  textarea {
    color: #fff;
    background: #4ecdc4;
    font-family: "Raleway", sans-serif;
    font-size: medium;
    margin: 1rem 0 3rem 0;
    padding: 2rem 0 0.2rem 2rem;
    resize: none;
  }

  button {
    font-family: "Raleway", sans-serif;
    font-size: medium;
    font-weight: bold;
    color: #fff;
    margin: 1rem auto 3rem;
    padding: 1.5rem 8rem;
    background: rgb(24, 46, 51);
    border: none;
  }
  button:hover {
    background: rgb(24, 46, 51);
  }
}
