.contact-form {
  width: 100%;
  background-color: rgb(236, 236, 234);
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;

  label {
    width: 100%;
    font-size: 1.5rem;
  }
  input {
    margin: 1rem 0 1.5rem 0;
    padding: 1rem 0 0 0.5rem;
  }

  textarea {
    margin: 1rem 0 1.5rem 0;
  }
}
