.contact-form {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto 4rem;
  background: var(--form-background);
  padding: 4rem 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  label {
    width: 100%;
  }

  // MIXIN FOR THESE? //

  input {
    background: var(--input-background);
    margin: 1rem 0 3rem 0;
    padding: 2rem 0 0.2rem 2rem;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid grey;
  }

  textarea {
    background: var(--input-background);
    margin: 1rem 0 3rem 0;
    padding: 2rem 0 0.2rem 2rem;
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid grey;
    resize: none;
  }

  /////////////////////////////////////

  button {
    margin: 2rem auto;
    padding: 2rem 8rem;
    background: var(--nav-color);
    border: none;
    border-radius: 0.5rem;
  }
  button:hover,
  button:focus {
    background: #4f7c86;
  }
}
