.breadcrumbs {
  display: flex;
  list-style-type: none;
  li {
    margin: 0 0.5rem 1.5rem 0;
  }
}

.top-section {
  //all values are just for example.
  padding: 9rem;
  color: rgb(255, 255, 255);
  text-align: left;
  background-image: url(/assets/pic1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}
section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 700px) {
  .top-section {
    padding: 3rem;
    h1 {
      overflow-wrap: break-word;
    }
  }
}
