.topSection { //all values are just for example. 
    display: grid;
    padding: 2rem;
    margin: 2rem;
    background-color: bisque;
    color: rgb(228, 17, 17);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

