/* Nav-bar */

/* Main content */
a {
  color: var(--nav-color);
}

a:hover {
  color: var(--links-hover);
}

/* Footer */
footer {
  background: var(--nav-color);
  p,
  a {
    color: var(--links-color);
  }
}
