@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap");

:root {
  font-size: 10px;
}

html {
  font-family: "Raleway", sans-serif;
}

/* Font styles for index.html are declared in _home.scss */

// FONT FAMILY & SIZE //

h1 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.8rem;
}
h2 {
  font-size: 2.7rem;
}

h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}

p,
a,
li {
  font-size: 1.6rem;
}

// MARGINS //

h1,
h2,
h3 {
  margin: 0 0 3rem;
}

p {
  line-height: 2.3rem;
  margin: 0 0 2rem;
}

li {
  line-height: 2.2rem;
  margin-inline-start: 3rem;
}

// SPECIFIC STYLES //

/* Navbar and footer links */

/* Top-section */

.top-section {
  p {
    font-weight: 600;
  }
}

/* Publications year heading */


/* Footer */

footer {
  p {
    color: var(--links-color);
    margin-bottom: 1rem;
  }
  a {
    text-decoration: none;
  }
}

/* Contact */

.contact-main {
  dl {
    font-size: medium;
    dt {
      font-weight: bold;
      margin: 0 0 1rem;
    }
    dd {
      margin: 0 0 2rem;
    }
  }

  h4 {
    margin: 2rem 0 1rem;
  }
}

.contact-form {
  label {
    font-size: 2rem;
    font-weight: bold;
  }
  input,
  textarea {
    font-family: "Raleway", sans-serif;
    font-size: medium;
    font-weight: normal;
  }
  button {
    font-family: "Raleway", sans-serif;
    font-size: large;
    font-weight: bold;
    color: #fff;
  }
  textarea::placeholder {
    color: rgb(75, 74, 74);
    font-weight: bold;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 5rem;
  }

  .year-heading {
  }
}
