img {
  width: 100%;
  height: auto;
}

.contact-main {
  .important-notice {
    margin-top: 2rem;
    padding: 2rem 3rem;
    background: rgb(167, 62, 62);
  }
  .top-section__link {
    color: rgb(245, 225, 158);
  }
  .top-section__link:hover {
    color: #fff;
  }

  a,
  a:visited {
    color: rgb(24, 46, 51);
  }

  a:hover {
    color: #4ecdc4;
  }

  .direction-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    h2,
    h3,
    h4,
    p {
      width: 100%;
      margin: 1rem 0;
    }

    section {
      width: 100%;

      @media (min-width: 736px) {
        width: 50%;
      }
    }

    &__map {
      margin: 3vw auto;
      width: 100%;
      height: 250px;
    }
  }
}

dl {
  font-size: medium;
  dt {
    font-weight: bold;
    margin: 0 0 1rem 0;
  }
  dd {
    margin: 0 0 2rem 0;
  }
}
