img {
  width: 100%;
  height: auto;
}

.contact-main {
  .important-notice {
    margin-top: 2rem;
    padding: 2rem 3rem;
    background: rgb(134, 58, 58);
    border: 4px solid rgb(248, 91, 91);

    a {
      color: rgb(245, 225, 158);
    }
    a:hover {
      color: #fff;
    }
  }

  .direction-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    h2 {
      width: 100%;
    }
    section {
      width: 100%;

      @media (min-width: 736px) {
        width: 50%;
      }
    }

    &__map {
      margin: 2vw auto;
      width: 100%;
      height: 250px;
    }
  }
}

.contact-us {
  background: var(--links-color);
  h2 {
    text-align: center;
  }
}
